Host github.com
  HostName github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github_rsa

Host gitlab.com
  HostName gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github_rsa

Host localhost
  HostName localhost
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github_rsa
